.banner {
  /* 1. Set a background image */
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/background.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
	max-height: 400px;
	
}
.banner h1 {
  color: #90101a;
  font-size: 100px;
}
.banner h2 {
  color: #ff969e;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}